html{
    background-color: whitesmoke;
}

h1{
    background-color:#424242;
    color:whitesmoke;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #424242;
}

p{
    color: #424242;
}

ul{
    padding: 10px;
}

li{
    padding: 10px;
}

.links-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 400px) {
    .links-cont{
        flex-direction: column;
        gap:10px
    }   
}

.link-img{
    width: 100%;
    max-width: 300px;
    height:200px;
    background-size:cover;
}



a div{
    padding: 10px;
    text-align: center;
}

a div:hover{
    box-shadow: 0px 0px 3px #424242;
}